:root {
    --accent-color: palegreen;
    --accent-color-dark: #346033;
    --background-color: #2a383a;
    --dark-gray: #343233;
    --main-color: cornsilk;
    --navbar-height: 50px;
}





/* BASIC STYLING */
body {
    background-color: var(--background-color); /* 2a383a, 343233 */
    color: var(--main-color);
    font-family: Arial, Helvetica, sans-serif;
    margin: 0; /* remove default space on edges of whole document */
}
a {
    color: var(--main-color);
}
a:hover {
    color: var(--accent-color);
}
::selection {
    background: var(--accent-color);
    color: var(--accent-color-dark);
}
/* END OF BASIC STYLING */





/* BEGIN HORISONTAL NAVBAR */
.navbar {
    background: var(--dark-gray);
    position: fixed;  /* stay on top of page */
    width: 100%;
    z-index: 100;  /* Large enough z-index so that navbar is the topmost layer */
}
ul.navbar {
    list-style-type: none;  /* remove bullets */
    margin: 0;
    overflow: hidden;  /* prevent from being too wide*/
    padding: 0;
}
.navbar li {
    float: left;
}
.navbar li a {
    display: block;
    padding: 15px 16px;
    text-align: center;
    text-decoration: none;
}
.navbar li a:hover {
    background-color: var(--accent-color);
    color: var(--accent-color-dark);
}
.navbar-spacer {
    height: var(--navbar-height);  /* so that content is not behind navbar */
    overflow: auto;
}
/* END OF HORISONTAL NAVBAR */





/* BEGIN SPACER */
.spacer {
    height: 25px;
}
/* END OF SPACER */





/* ANIMATED BANNER */
.animated-banner {
    left: 45%;
}
.animate-element {
    animation: infiniteScaleAnimation 10s infinite;
    background-color: var(--accent-color);
    border-radius: 1px;
    height: 4px;
    width: 10%;
}
@keyframes infiniteScaleAnimation {
    0% {
        background-color: palegreen;
        -webkit-transform: scaleX(1);
    }
    25% {
        background-color: orange;
        -webkit-transform: scaleX(3);
    }
    50% {
        background-color: palevioletred;
        -webkit-transform: scaleX(1);
    }
    75% {
        background-color: turquoise;
        -webkit-transform: scaleX(3);
    }
    100% {
        background-color: palegreen;
        -webkit-transform: scaleX(1);
    }
}
.animation-position-1 {
    position: relative;
    left: 55%;
    margin: 3px;
}
.animation-position-2 {
    position: relative;
    left: 45%;
    margin: 3px;
}
.animation-position-3 {
    position: relative;
    left: 30%;
    margin: 3px;
}
.animation-position-4 {
    position: relative;
    left: 67%;
    margin: 3px;
}
.animation-position-5 {
    position: relative;
    left: 49%;
    margin: 3px;
}
.animation-position-6 {
    position: relative;
    left: 40%;
    margin: 3px;
}
.animation-position-7 {
    position: relative;
    left: 44%;
    margin: 3px;
}
.animation-position-8 {
    position: relative;
    left: 52%;
    margin: 3px;
}
.animation-position-9 {
    position: relative;
    left: 29%;
    margin: 3px;
}
.animation-position-10 {
    position: relative;
    left: 62%;
    margin: 3px;
}
.animation-position-11 {
    position: relative;
    left: 42%;
    margin: 3px;
}
/* END OF ANIMATED BANNER */




/* BEGIN PANORAMIC IMAGE */
.image-container {
    border-radius: 10px;
    background: linear-gradient(to right, red, orange);
    padding: 4px 4px 0 4px;
    width: 100%;
}
#panoramic-image {
    border-radius: 8px;
    filter: grayscale(80%) hue-rotate(155deg);
    width: 100%;
}
/* END PANORAMIC IMAGE */




/* BEGIN VERTICAL SIDEBAR */
.side-menu {
    /*
    Trying to get the sidebar to fill the heigth without being obtrusively in the way of other element
    when scaling the page.
     */
}
.side-menu-ul {
    background-color: var(--dark-gray);
    border: 1px solid var(--accent-color);
    height: 100%;
    list-style-type: none;  /* remove bullets */
    margin: 0;
    padding: 0;
}
.side-menu-ul li {
    border-bottom: 1px solid var(--accent-color);
}
.side-menu li:last-child {
    border-bottom: none;
}
.side-menu-ul li a {
    display: block;
    padding: 6px 16px;
    text-decoration: none;  /* remove underlining of links */
}
.side-menu-ul li a:hover {
    background-color: var(--accent-color);
    color: var(--accent-color-dark);
}
/* END OF VERTICAL SIDEBAR */





/* BEGIN DRAGGABLE IMAGE */
.dragArea {
    min-height: 250px;
    border: 1px solid var(--accent-color);
    border-radius: 10px;
}
#dragImg {
    border-radius: 10px;
    width: 50%;
    max-width: 200px;
}
/* END DRAGGABLE IMAGE */




/* BEGIN COLUMNS */
.row {
    box-sizing: border-box;
    float: left;
    width: 100%;
}
.col-1 {
    width: 8.33%;
}
.col-2 {
    width: 16.66%;
}
.col-3 {
    width: 25%;
}
.col-4 {
    width: 33.33%;
}
.col-5 {
    width: 41.66%;
}
.col-6 {
    width: 50%;
}
.col-7 {
    width: 58.33%;
}
.col-8 {
    width: 66.66%;
}
.col-9 {
    width: 75%;
}
.col-10 {
    width: 83.33%;
}
.col-11 {
    width: 91.66%;
}
.col-12 {
    width: 100%;
}
[class*="col-"] {
    float: left;
    padding: 5px;
    box-sizing: border-box;
}

/*
col-lg-*, col-md-*, col-sm-* (and col-*) are all identical but this way one is able to easily set different width
for different media breakpoints

Applies to screens larger than 992px */
@media (min-width: 993px) {
    .col-lg-0 {
        width: 0;
    }
    .col-lg-1 {
        width: 8.33%;
    }
    .col-lg-2 {
        width: 16.66%;
    }
    .col-lg-3 {
        width: 25%;
    }
    .col-lg-4 {
        width: 33.33%;
    }
    .col-lg-5 {
        width: 41.66%;
    }
    .col-lg-6 {
        width: 50%;
    }
    .col-lg-7 {
        width: 58.33%;
    }
    .col-lg-8 {
        width: 66.66%;
    }
    .col-lg-9 {
        width: 75%;
    }
    .col-lg-10 {
        width: 83.33%;
    }
    .col-lg-11 {
        width: 91.66%;
    }
    .col-lg-12 {
        width: 100%;
    }
    [class*="col-lg-"] {
        float: left;
        padding: 5px;
        box-sizing: border-box;
    }
}
/* Medium screen
Applies to screens smaller than or equal to 992px*/
@media (max-width: 992px) {
    .col-md-0 {
        width: 0;
    }
    .col-md-1 {
        width: 8.33%;
    }
    .col-md-2 {
        width: 16.66%;
    }
    .col-md-3 {
        width: 25%;
    }
    .col-md-4 {
        width: 33.33%;
    }
    .col-md-5 {
        width: 41.66%;
    }
    .col-md-6 {
        width: 50%;
    }
    .col-md-7 {
        width: 58.33%;
    }
    .col-md-8 {
        width: 66.66%;
    }
    .col-md-9 {
        width: 75%;
    }
    .col-md-10 {
        width: 83.33%;
    }
    .col-md-11 {
        width: 91.66%;
    }
    .col-md-12 {
        width: 100%;
    }
    [class*="col-md-"] {
        float: left;
        padding: 5px;
        box-sizing: border-box;
    }
}
/* Small screen
Applies to screens smaller than or equal to 768px*/
@media (max-width: 768px) {
    .col-sm-0 {
        width: 0;
    }
    .col-sm-1 {
        width: 8.33%;
    }
    .col-sm-2 {
        width: 16.66%;
    }
    .col-sm-3 {
        width: 25%;
    }
    .col-sm-4 {
        width: 33.33%;
    }
    .col-sm-5 {
        width: 41.66%;
    }
    .col-sm-6 {
        width: 50%;
    }
    .col-sm-7 {
        width: 58.33%;
    }
    .col-sm-8 {
        width: 66.66%;
    }
    .col-sm-9 {
        width: 75%;
    }
    .col-sm-10 {
        width: 83.33%;
    }
    .col-sm-11 {
        width: 91.66%;
    }
    .col-sm-12 {
        width: 100%;
    }
    [class*="col-sm-"] {
        float: left;
        padding: 5px;
        box-sizing: border-box;
    }
}
/* END COLUMNS */



/* OTHER MEDIA BREAKPOINTS */
@media only screen and (max-width: 992px) {
    .content {
        padding: 2%;  /* Prevent text from reaching all the way to the edge */
    }
}
@media only screen and (max-width: 768px) {

    .content {
        padding: 2%;  /* Prevent text from reaching all the way to the edge */
    }
}
/* END OTHER MEDIA BREAKPOINTS */
