:root {
    --main-color: cornsilk;
    --background-color: #2a383a;
    --accent-color: palegreen;
    --accent-color-dark: #346033;
    --dark-gray: #343233;
}



/* BASIC STYLING */
body {
    background-color: var(--background-color); /* 2a383a, 343233 */
    color: var(--main-color);
    font-family: Arial, Helvetica, sans-serif
}
a {
    color: var(--main-color);
}
a:hover {
    color: var(--accent-color);
}
::selection {
    background: var(--accent-color);
    color: var(--accent-color-dark);
}
/* END OF BASIC STYLING */



/* BEGIN HORISONTAL NAVBAR */
.navbar-horisontal ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: var(--dark-gray);
    position: fixed;
    top: 0;
    width: 100%;
}
.navbar-horisontal li {
    float: left;
}
.navbar-horisontal li a {
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.navbar-horisontal li a:hover {
    background-color: var(--accent-color);
    color: var(--accent-color-dark);
}
@media screen and (max-width: 768px) {
    .navbar-horisontal li {
        float: none;
    }
}
/* END OF HORISONTAL NAVBAR */




/* SPACER (so that content is not behind navbar) */
.spacer {
    height: 50px;
}
/* END OF SPACER */




/* ANIMATED BANNER */
.animated-banner {
    /*
    position: fixed;
     */
    left: 50%;
}
.animate-element {
    width: 10%;
    height: 3px;
    background-color: var(--accent-color);
    animation: infiniteScaleAnimation 10s infinite;
}
@keyframes infiniteScaleAnimation {
    0% {
        -webkit-transform: scaleX(1);
        background-color: palegreen;
    }
    25% {
        -webkit-transform: scaleX(3);
        background-color: orange;
    }
    50% {
        -webkit-transform: scaleX(1);
        background-color: palevioletred;
    }
    75% {
        -webkit-transform: scaleX(3);
        background-color: turquoise;
    }
    100% {
        -webkit-transform: scaleX(1);
        background-color: palegreen;
    }
}
.animation-position-1 {
    position: relative;
    left: 55%;
    margin: 3px;
}
.animation-position-2 {
    position: relative;
    left: 45%;
    margin: 3px;
}
.animation-position-3 {
    position: relative;
    left: 30%;
    margin: 3px;
}
.animation-position-4 {
    position: relative;
    left: 67%;
    margin: 3px;
}
.animation-position-5 {
    position: relative;
    left: 49%;
    margin: 3px;
}
.animation-position-6 {
    position: relative;
    left: 40%;
    margin: 3px;
}
.animation-position-7 {
    position: relative;
    left: 44%;
    margin: 3px;
}
.animation-position-8 {
    position: relative;
    left: 52%;
    margin: 3px;
}
.animation-position-9 {
    position: relative;
    left: 29%;
    margin: 3px;
}
.animation-position-10 {
    position: relative;
    left: 62%;
    margin: 3px;
}
.animation-position-11 {
    position: relative;
    left: 42%;
    margin: 3px;
}
/* END OF ANIMATED BANNER */
