:root {
    --main-color: cornsilk;
    --background-color: #2a383a;
    --accent-color: palegreen;
    --accent-color-dark: #346033;
    --dark-gray: #343233;
}

body {
    background-color: #2a383a; /* 2a383a, 343233 */
    color: cornsilk;
    font-family: Arial, Helvetica, sans-serif
}

.animations {
    position: relative;
    left: 50%;
}

.animate-element {
    width: 10%;
    height: 3px;
    background-color: green;
    animation: infiniteScaleAnimation 10s infinite;
}

.animation-position-1 {
    position: fixed;
    left: 55%;
}
.animation-position-2 {
    position: fixed;
    left: 45%;
    top: 15px;
}
.animation-position-3 {
    position: fixed;
    left: 30%;
    top: 22px;
}
.animation-position-4 {
    position: fixed;
    left: 67%;
    top: 29px;
}
.animation-position-5 {
    position: fixed;
    left: 49%;
    top: 36px;
}
.animation-position-6 {
    position: fixed;
    left: 40%;
    top: 43px;
}
.animation-position-7 {
    position: fixed;
    left: 44%;
    top: 50px;
}
.animation-position-8 {
    position: fixed;
    left: 52%;
    top: 57px;
}
.animation-position-9 {
    position: fixed;
    left: 29%;
    top: 64px;
}
.animation-position-10 {
    position: fixed;
    left: 62%;
    top: 71px;
}
.animation-position-11 {
    position: fixed;
    left: 42%;
    top: 78px;
}


@keyframes infiniteScaleAnimation {
    0% {
        -webkit-transform: scaleX(1);
        background-color: palegreen;
    }
    25% {
        -webkit-transform: scaleX(3);
        background-color: orange;
    }
    50% {
        -webkit-transform: scaleX(1);
        background-color: palevioletred;
    }
    75% {
        -webkit-transform: scaleX(3);
        background-color: turquoise;
    }
    100% {
        -webkit-transform: scaleX(1);
        background-color: palegreen;
    }
}
